body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.body {
  position: relative;
  width: 100%;
}

.topNav {
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.detail {
  position: absolute;
  top:10%;
  left:20%;
  width: 60%;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 10px;
  padding: 10px;
}

.detail h2 {
  font-size: 25px;
  font-weight: 600;
  color: #0058ffa6;
}

.data-header {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
}
.data-body {
  position: relative;
  display: flex;
  width: 100%;
  text-align: center;
}
.data-header div {
  width: 33%;
}
.data-body div {
  width: 50%;
  /* margin: 50px 0px; */
  /* padding: 20px 0px; */
}

.matchDetail {
  width: 100%;
  height: 100%;
  /* padding: 30px; */
}

.season-overall-detail {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  /* display: flex; */
  
}

.season-overall-detail div {
  width: 46%;
  margin: 2%;
  background-color: black;
  color: white;
  padding:10px;
  border: solid 1px black;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.card-layout {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.card {
  width: 48%;
  margin: 10px 1%;
  height: auto;
  display: inline-block;
  padding: 10px;
  background-color: #f0f0f0;
  border: solid 1px white;
  border-radius: 10px;
}

.team-detail {
  padding:5px;
  width: 15%;
}
.team1 {
  border-right:solid 3px white;
}
.team2 {
  border-left:solid 3px white;
}

.match-detail {
  width: 23%  ;
  text-align: center;
}

.thumbnail {
  width: 250px;
  margin: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .card {
    width: 98%;
    font-size: 10px;
  }
  .season-overall-detail div {
    width: 48%;
    margin: 1%;
    font-size: 15px;
  }

  .ant-switch {
    display: none !important
  }
}